__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
htmlcov/
backend.egg-info/

# sessions
persistent_session.session-journal
persistent_session.session





